<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WriteHabit.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
				<key>dateExpires</key>
				<string>4/13/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8D7B2N8CZ</string>
						<key>name</key>
						<string>Jiyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>12.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8D7B2N8CZ</string>
						<key>name</key>
						<string>Jiyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>12.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.4.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8D7B2N8CZ</string>
						<key>name</key>
						<string>Jiyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8D7B2N8CZ</string>
						<key>name</key>
						<string>Jiyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>12.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8D7B2N8CZ</string>
						<key>name</key>
						<string>Jiyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>12.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8D7B2N8CZ</string>
						<key>name</key>
						<string>Jiyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8D7B2N8CZ</string>
						<key>name</key>
						<string>Jiyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8D7B2N8CZ</string>
						<key>name</key>
						<string>Jiyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D2C96107AB56C17AC018394450CEA33F1C8F4961</string>
						<key>dateExpires</key>
						<string>4/13/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8D7B2N8CZ</string>
						<key>name</key>
						<string>Jiyun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J8D7B2N8CZ.com.jiyun.dailywrite</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>J8D7B2N8CZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>WriteHabit.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b19a1522-94ed-45bc-a75c-b0eb661a246b</string>
				<key>dateExpires</key>
				<string>4/13/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.jiyun.dailywrite</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J8D7B2N8CZ</string>
				<key>name</key>
				<string>Jiyun Kim</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
